@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --darkGray:hsl(0, 0%, 55%);
    --veryDark: hsl(0, 0%, 41%);
  }

*{
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
h1{
  color: #fff !important;
  font-size: 2rem;
}
a {

    text-decoration: none;
   
   }
   
 #close{
    display: none;
 }
   
   li {
   
    list-style: none;
   
   }

  /*RESPONSIVE NAVBAR MENU STARTS*/
  input[type=checkbox]{

    display: none;
   
   }  
   /*HAMBURGER MENU*/

.hamburger {
 
    display: none;
   
    font-size: 24px;
   
    user-select: none;
   
   }

/* NAVBAR STYLING STARTS */
.logo img{
    width: 7rem;
}
.menu { 

    display:none;
   
    position: absolute;
   
    /* background-color:var(--black); */
   
    right: 0;
   
    left: 0;
   
    text-align: center;
   
    padding: 3rem 0;
   }
 /*   .menu li + li {

    margin-top: 12px;
   
   } */
   .menu li {
   
    padding: 5px 14px;
   
   }

   .hamburger {

    display: block;
   
   }
   
.navbar {

    display: flex;
   
    align-items: center;
   
    justify-content: space-between;
   
    padding: 20px;
   
   }
   .nav-links a {

    color: var(--white);
   
   }

   
    
    input[type=checkbox]:checked ~ .menu{
    
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
    height: 100vh;
    text-transform: uppercase;
    justify-content: center;
    
    }
    
    .hamburger {
    
     display: block;
    
    }

/* *************** */
.header{
    margin-top: 2rem;
    text-transform: uppercase;
    
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    padding: 2.5rem 1rem;
    border: 2px solid;
    font-weight: 400px;
    width: 80%;
}


.heading-font{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}


#top{
    background-image: url("../imgs/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55vh;
    color: var(--white);
    position: relative;

}
 /* APPLYING footer style */
footer{
background-color:var(--black) ;
display: flex;
flex-direction: column;
align-items: center;
color:var(--white);
padding: 3rem 0;
bottom: 0;
width: 100%;
}
footer ul li a{
    color:var(--white);
    cursor: pointer;
}
footer ul {
    margin: 1rem 0;

}
footer .loop img{
    width: 6rem;
}
footer .loop{
    display: flex;
    justify-content: center;
}
.footer-menu{text-align: center;}
footer li {
    margin: 1rem 0;
}
.social {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.social li{
    margin-right: 1rem;
}

.border{
    position:relative;
   
}
.border:hover::after{
   content:'';
    position:absolute;
    width: 70%;
    height: 0;    
    left:0;
    right: 0;
    margin: auto;
    bottom:-5px; /*Change this to increase/decrease distance*/
    border-bottom: 2px solid #fff;  
    transition: 0.3s ease;
}
.footer-container{
    display: block;
    
}
.copyRight{
    display: flex;
    justify-content: flex-end;
}
.copyRight p{
    font-size: 12px;
    color:var( --darkGray);
}
/* ***************************** */

  /* APPLYING MEDIA QUERIES small devices */

@media (max-width: 768px) {

    
    
    }

    
/* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
  h1{
    font-size: 4rem;
    color: #fff;
   }
    #top{
        height: 70vh;
    }
    .header{
        right: unset;
        left: unset;
    }
    footer li {
        margin: 0 1rem;
    }
    .footerLeft{
      width: 50%;
    }
    footer{
      align-items: left;
      display: block;
      flex-direction: row;
    }
  .social{
    justify-content: end;
    margin-top: 0;
  }
   footer .loop{justify-content: left;}
   
   .footer-menu{
    display:flex;
    text-align: left;}

    .social li {
        margin-right:.1rem; 
    }
    .social li :last-of-type {
        margin-right:0rem; 
      }
    .footer-menu li:first-of-type {
        margin-left: 0;
     }
     .footer-container{
        display: flex;
        justify-content: space-between;
    }
    .navbar {

        display: flex;
       
        align-items: center;
       
        justify-content: space-between;
       
        padding: 20px;
       
        background-color: transparent;
       }

    .menu { 
        display:flex;
        gap:1em;
        position: relative;
        padding: 0;
    margin: 0 ; 
    font-size: 8px;
       }
     
   /*HAMBURGER MENU*/
   
   .hamburger {
   
    display: none;
    font-size: 24px;
    user-select: none;

   }
      
       
   
} 


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header{
        width: 50%;
        margin-top: 10rem;
    }
   
}




.heading-font{
  color: #000;
  font-family: 'Josefin Sans', sans-serif;
}





.hero-wrapper{
  width: 80%;
  margin: 100px auto;
}

.hero-banner{
  display: flex;
}
.hero-heading{
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 1px;
  line-height: 1.5em;
}

.img-sec{
  flex: 1;
  width: 100%;
}
.hero-img{
  width: 110%;
}

.hero-heading-sec{
  flex: 1;
  display: flex;
  flex-direction: column;
  place-content: center;
  background: #fff;
  /* margin-left: -55px; */
  /* height: 410px; */
  max-height: 430px;
  /* margin-top: 55px; */
  position: relative;
  top: 145px;
  left: -65px;
  padding: 70px 50px;
}

.hero-p{
  margin-top: 15px;
  color: var(--veryDark);
}




@media only screen and (max-width: 767px) {
  .nav-links a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
.gallary-wrapper {
  margin: 5rem auto 5rem auto !important;
}
.menu li {
  padding: 14px 20px;
}
  .hero-banner{
      display: block;
  }
  .hero-img{
      width: 100%;
  }
  .hero-heading-sec {
      position: relative;
      top: 0;
      left: 0;
      padding: 70px 0px;
      text-align: center;
  }
  .hero-heading {
      font-size: 2rem;
  }


  .Demo {
      height: 150px;
      margin-bottom: 25px;
      align-items: end;
      text-align: left;
  }
  

  .deepearth{
    /* background-image: url(../imgs/desktop/image-deep-earth.jpg); */
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../imgs/mobile/image-deep-earth.jpg);
  }
  .night-arcade{
    
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../imgs/mobile/image-night-arcade.jpg);
  }
.soccer-team{
    
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../imgs/mobile/image-soccer-team.jpg);
}
.image-grid{
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../imgs/mobile/image-grid.jpg);
}
.from-above{
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../imgs/mobile/image-from-above.jpg);
}
.pocket-borealis{
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../imgs/mobile/image-pocket-borealis.jpg);
}
.curiosity{
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../imgs/mobile/image-curiosity.jpg);
}
.fisheye{
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../imgs/mobile/image-fisheye.jpg);
}

 /*  .deepearth{
      background-image: url(../imgs/mobile/image-deep-earth.jpg);
    }
    .night-arcade{
      background-image: url(../imgs/mobile/image-night-arcade.jpg);
    }
  .soccer-team{
      background-image: url(../imgs/mobile/image-soccer-team.jpg);
  }
  .image-grid{
      background-image: url(../imgs/mobile/image-grid.jpg);
  }
  .from-above{
      background-image: url(../imgs/mobile/image-from-above.jpg);
  }
  .pocket-borealis{
      background-image: url(../imgs/mobile/image-pocket-borealis.jpg);
  }
  .curiosity{
      background-image: url(../imgs/mobile/image-curiosity.jpg);
  }
  .fisheye{
      background-image: url(../imgs/mobile/image-fisheye.jpg);
  } */

  .btn-wrapper{
      display: none;
  }
  .gallary-row {
      display: flex;
      justify-content: center !important;
      margin-bottom: 30px;
  }
  
  
}




@media (min-width: 768px) {
  .container{

    padding: 2rem 4rem !important;

}

  .Demo {
      height: 450px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      align-items: end;
      text-align: left;
      
    }
    .Demo:hover{
  cursor: pointer;
}

  .deepearth{
      /* background-image: url(../imgs/desktop/image-deep-earth.jpg); */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../imgs/desktop/image-deep-earth.jpg);
    }
    .night-arcade{
      
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../imgs/desktop/image-night-arcade.jpg);
    }
  .soccer-team{
      
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../imgs/desktop/image-soccer-team.jpg);
  }
  .image-grid{
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../imgs/desktop/image-grid.jpg);
  }
  .from-above{
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../imgs/desktop/image-from-above.jpg);
  }
  .pocket-borealis{
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../imgs/desktop/image-pocket-borealis.jpg);
  }
  .curiosity{
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../imgs/desktop/image-curiosity.jpg);
  }
  .fisheye{
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.805)), url(../imgs/desktop/image-fisheye.jpg);
  }
  .imgs-wrapper{
      margin-top: 50px;
    }
  
  .btn-wrapper2{
      display: none;
  }

}

@media (min-width: 1441px) {
  .Demo {
      height: 600px;
  }

}

.gallary-wrapper{
  margin: 15rem auto 5rem auto;
  width: 80%;

}







.gallary-row-text{
  font-size: 2rem;
}


.gallary-text{
  width: 80%;
  padding: 30px;
  font-size: 1.75rem;
  color: #fff;
  text-transform: uppercase;
  z-index: 1000;

}






/*Basic Grid Styles*/
.Grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  column-gap: 30px;
}

.u-textCenter {
  text-align: center;
}

.Grid-cell {
  flex: 1;
}

.Demo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  position: relative;
}


.Demo:hover::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgb(189 187 187 / 44%);
}


/*  .Demo:after {
  content: "";
  display: block;
  margin-top: .8em;
  height: 1px;
} */


.Demo:hover .gallary-text{
  color: #000;
}


.gallary-row{
  display: flex;
  justify-content: space-between;
}

/* .heading-font{
  font-size: 2rem;
}
 */

.see-btn{
  padding: 10px 35px;
  color: #000;
  background: #fff;
  letter-spacing: 1px;
}

.see-btn:hover{
  background: #000;
  color: #fff;
  cursor: pointer;
}

.see-btn2{
  padding: 10px 35px;
  color: #000;
  background: #fff;
  letter-spacing: 1px;
}

.see-btn2:hover{
  background: #000;
  color: #fff;
  cursor: pointer;
}




/*===========================================*/
/* Base classes for all media - Mobile first */


.Grid--cols-4 > .Grid-cell {
  flex: 0 0 100%;
}



.Grid--holly-grail .aside, .Grid--holly-grail .main {
  flex: 1 100%;
}

/* One of -- columns*/

.Grid--1of4 > .Grid-cell:first-of-type {
  flex: 0 0 100%;
}

.Grid--1of6 > .Grid-cell:first-of-type {
  flex: 0 0 50%;
}

.Grid--fit > .Grid-cell {
  flex: 1;
}

.Grid--full > .Grid-cell {
  flex: 0 0 100%;
}

/* Tablet (medium) screens */
@media (min-width: 30em) {
  .Grid--cols-4 > .Grid-cell {
    flex: 0 0 calc(50% - 1em);
  }


  
  .Grid--1of4 > .Grid-cell:first-of-type {
    flex: 0 0 50%;
  }

  
}
/* Large screens */
@media (min-width: 48em) {
  .Grid--cols-4 > .Grid-cell {
    flex: 1;
  }

 

  .Grid--1of4 > .Grid-cell:first-of-type {
    flex: 0 0 25%;
  }

  .Grid--gutters.Grid--nested .Grid-cell:first-of-type .Demo {
    margin-right: 0;
  }
}
