@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --darkGray:hsl(0, 0%, 55%);
    --veryDark: hsl(0, 0%, 41%);
  }

*{
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
    
}
a {

    text-decoration: none;
   
   }
   
   li {
   
    list-style: none;
   
   }

  /*RESPONSIVE NAVBAR MENU STARTS*/
 
  input[type=checkbox]{

    display: none;
   
   }  
   /*HAMBURGER MENU*/

.hamburger {

    display: none;
   
    font-size: 24px;
   
    user-select: none;
   
   }
/* NAVBAR STYLING STARTS */


.logo{
    float:left;
}
.logo img{
    width: 7rem;

}
.navBars{
    float: right;
}
.header{
    margin-top: 2rem;
    text-transform: uppercase;
    padding: 1.5rem;
    border: 2px solid;
    font-weight: 400px;
    width:10rem;

}
.header::before{
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
nav ul{
    list-style-type:none;
}
nav ul li{
    display: inline;
    margin-left: 2rem;
    padding: 5px 14px;
}

nav a{
    text-decoration: none;
    color: var(--white);
}
.heading-font{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
.container{
  
padding: 2rem 4rem;
}
#top{
    background-image: url("../imgs/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 70vh;
    color: var(--white);
    position: relative;

}
 /* APPLYING footer style */
footer{
background-color:var(--black) ;
display: flex;
flex-direction: column;
align-items: center;
color:var(--white);
padding: 3rem 0;
position: fixed;
bottom: 0;
width: 100%;
}
footer ul li a{
    color:var(--white);
    cursor: pointer;
}
footer ul {
    margin: 1rem 0;

}
footer .loop img{
    width: 6rem;
}
footer .loop{
    display: flex;
    justify-content: center;
}
.footer-menu{text-align: center;}
footer li {
    margin: 1rem 0;
}
.social {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.social li{
    margin-right: 1rem;
}

.border{
    position:relative;
}
.border:hover::after{
   content:'';
    position:absolute;
    width: 70%;
    height: 0;    
    left:0;
    right: 0;
    margin: auto;
    bottom:-5px; /*Change this to increase/decrease distance*/
    border-bottom: 2px solid #fff;  
}
.footer-container{
    display: block;
    
}
.copyRight{
    display: flex;
    justify-content: flex-end;
}
.copyRight p{
    font-size: 12px;
    color:var( --darkGray);
}
/* ***************************** */

  /* APPLYING MEDIA QUERIES */

@media (max-width: 768px) {

    .menu { 
    width: 50%;
     display:none;
    
     position: absolute;
    background-color: var(--black) ;
     right: 0;

     text-align: center;
    
     padding: 16px 0;
    
    }
    
  
    
   
    
    input[type=checkbox]:checked ~ .menu{
    
        display: flex;
    flex-direction: column;
    
    }
    
    .hamburger {
    
     display: block;
    
    }
    
    }

    
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header{
        width: 50%;
        margin-top: 10rem;
    }
    footer li {
        margin: 0 1rem;
    }
    .footerLeft{
      width: 50%;
    }
    footer{
      align-items: left;
      display: block;
      flex-direction: row;
    }
  .social{
    justify-content: end;
    margin-top: 0;
  }
   footer .loop{justify-content: left;}
   
   .footer-menu{
    display:flex;
    text-align: left;}

    .social li {
        margin-right:.1rem; 
    }
    .social li :last-of-type {
        margin-right:0rem; 
      }
    .footer-menu li:first-of-type {
        margin-left: 0;
     }
     .footer-container{
        display: flex;
        justify-content: space-between;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header{
        width: 50%;
        margin-top: 10rem;
    }
   
}