@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --darkGray:hsl(0, 0%, 55%);
    --veryDark: hsl(0, 0%, 41%);
  }

*{
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
    
}
a {

    text-decoration: none;
   
   }
 #close{
    display: none;
 }
   
   li {
   
    list-style: none;
   
   }

  /*RESPONSIVE NAVBAR MENU STARTS*/
  input[type=checkbox]{

    display: none;
   
   }  
   /*HAMBURGER MENU*/

.hamburger {
 
    display: none;
   
    font-size: 24px;
   
    user-select: none;
   
   }

/* NAVBAR STYLING STARTS */
.logo img{
    width: 7rem;
}
.menu { 

    display:none;
   
    position: absolute;
   
    /* background-color:var(--black); */
   
    right: 0;
   
    left: 0;
   
    text-align: center;
   
    padding: 3rem 0;
    margin: 0 4rem;
   }
 /*   .menu li + li {

    margin-top: 12px;
   
   } */
   .menu li {
   
    padding: 5px 14px;
   
   }

   .hamburger {

    display: block;
   
   }
   
.navbar {

    display: flex;
   
    align-items: center;
   
    justify-content: space-between;
   
    padding: 20px;
   
   }
   .nav-links a {

    color: var(--white);
   
   }

   
    
    input[type=checkbox]:checked ~ .menu{
    
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
    
    }
    
    .hamburger {
    
     display: block;
    
    }

/* *************** */
.header{
    margin-top: 2rem;
    text-transform: uppercase;
    padding: 1.5rem;
    border: 2px solid;
    font-weight: 400px;
    width:10rem;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
}


.heading-font{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
.container{
  
padding: 2rem 4rem;
}
#top{
    background-image: url("../imgs/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 40vh;
    color: var(--white);
    position: relative;

}
 /* APPLYING footer style */
footer{
background-color:var(--black) ;
display: flex;
flex-direction: column;
align-items: center;
color:var(--white);
padding: 3rem 0;
position: fixed;
bottom: 0;
width: 100%;
}
footer ul li a{
    color:var(--white);
    cursor: pointer;
}
footer ul {
    margin: 1rem 0;

}
footer .loop img{
    width: 6rem;
}
footer .loop{
    display: flex;
    justify-content: center;
}
.footer-menu{text-align: center;}
footer li {
    margin: 1rem 0;
}
.social {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.social li{
    margin-right: 1rem;
}

.border{
    position:relative;
   
}
.border:hover::after{
   content:'';
    position:absolute;
    width: 70%;
    height: 0;    
    left:0;
    right: 0;
    margin: auto;
    bottom:-5px; /*Change this to increase/decrease distance*/
    border-bottom: 2px solid #fff;  
    transition: 0.3s ease;
}
.footer-container{
    display: block;
    
}
.copyRight{
    display: flex;
    justify-content: flex-end;
}
.copyRight p{
    font-size: 12px;
    color:var( --darkGray);
}
/* ***************************** */

  /* APPLYING MEDIA QUERIES small devices */

@media (max-width: 768px) {

    
    
    }

    
/* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    #top{
        height: 70vh;
    }
    .header{
        width: 20rem;
        right: unset;
        left: unset;
    }
    footer li {
        margin: 0 1rem;
    }
    .footerLeft{
      width: 50%;
    }
    footer{
      align-items: left;
      display: block;
      flex-direction: row;
    }
  .social{
    justify-content: end;
    margin-top: 0;
  }
   footer .loop{justify-content: left;}
   
   .footer-menu{
    display:flex;
    text-align: left;}

    .social li {
        margin-right:.1rem; 
    }
    .social li :last-of-type {
        margin-right:0rem; 
      }
    .footer-menu li:first-of-type {
        margin-left: 0;
     }
     .footer-container{
        display: flex;
        justify-content: space-between;
    }
    .navbar {

        display: flex;
       
        align-items: center;
       
        justify-content: space-between;
       
        padding: 20px;
       
        background-color: transparent;
       }

    .menu { 
        display:flex;
        gap:1em;
        position: relative;
        padding: 0;
    margin: 0 ; 
    font-size: 8px;
       }
     
   /*HAMBURGER MENU*/
   
   .hamburger {
   
    display: none;
    font-size: 24px;
    user-select: none;

   }
      
       
   
} 


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header{
        width: 50%;
        margin-top: 10rem;
    }
